<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
    <link rel="stylesheet" href="../css/beer-game.css"/>
	
	<title>Beer Game</title>
</head>
<body>
<div class="container clearfix">

    <div>
        <p class="h4 text-center" style="margin: 1rem;">
        写真を見てブルワリーとビールの組み合わせを当てよう!!
        </p>
    </div>
    <div class="row">
        <div class="col-md-3">
	        <section id="photo-section">
	            <img id="beer_photo" src="" class="img-thumbnail" />
	        </section>
        </div>
        <div class="col-md">
		    <div>
		        <section id="answer_section">
	               <div class="select">
	                    <select id="brewery" onchange="findBeersByBrewery()">
	                        <option value="0">-</option>
	                        <option th:each="brewery:${breweries}" th:value="${brewery.getId()}" th:text="${brewery.getName()}"></option>
	                    </select>
	               </div>
	               <div class="select">
	                    <select id="beer">
	                        <option value="0">-</option>
	                    </select>
	               </div>
		            <div>
		               <button id="answer" onclick="answer();" class="btn btn-primary">answer</button>
		            </div>  
		        </section>
		        
		        <section id="show_section" style="display: none;">
		            <dl class="row">
		              <dt class="col-sm-2">Brewery</dt>
		              <dd class="col-sm-10">
		                <div id="brewery_name"><span>brewery_name</span></div>
		              </dd>
		              <dt class="col-sm-2">Beer</dt>
		              <dd class="col-sm-10">
		                <div id="beer_name"><span>beer_name</span></div>
		              </dd>
		              <dt class="col-sm-2">Style</dt>
		              <dd class="col-sm-10">
		                  <div id="beer_style"><span>beer_style</span></div>
		              </dd>
		              <dt class="col-sm-2">Introduction</dt>
                      <dd class="col-sm-10">
                        <div id="beer_description"><span>beer_description</span></div>
		              </dd>
		            </dl>
		            <div>
		               <button id="next" onclick="next()" class="btn btn-primary">next</button>
		            </div>
		        </section>
		    </div>
        </div>
    </div>
</div>
<div class="alert alert-danger text-center" role="alert">
  incorrect !!
</div>
<div class="alert alert-success text-center" role="alert">
  correct !!
</div>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="../js/beer-game.js"></script>
</html>